# Python
*.parquet

__pycache__/
*.pyc
*.pyo
*.pyd
.venv/
venv/

# PyCharm
.idea/

# Environment variables
.env
.env_encoded

# Jupyter
.ipynb_checkpoints/

# OS
.DS_Store
Thumbs.db

# Logs
*.log

#JSON files
*.json